.footer {
    align-items: center;
    bottom: 50px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 50%;
  }
  @media (max-width: 768px) {
    .footer_logo {
      max-width: 100px;
    }
    .footer_copy {
      font-size: 14px;
    }
    .footer {
      bottom: 20px;
      width: 90%;
    }
}

.layout_container {
    margin: 0 auto;
    max-width: 1420px;
    padding: 0 15px;
  }
  @media (min-width: 768px) {
    .layout_container {
      padding: 0 30px;
    }
  }