.exchange_td__first {
    font-family: Nunito;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    vertical-align: bottom;
  }
  .exchange_td__second {
    border-bottom: 1px solid var(--bgcolor);
    width: 100%;
  }
  .exchange_td__third {
    align-items: center;
    display: flex;
    font-family: Nunito;
    font-size: 15px;
    font-weight: 700;
    gap: 5px;
    justify-content: flex-end;
    line-height: 100%;
    margin-top: 20px;
  }
  .exchange_tr_e {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
  }